.card {
    width: 32.5%;
    display: block;
    transition: 0.3s;
}

.card {
    width: 32.5%;
    display: block;
    transition: 0.3s;
}

.card:hover{
   transform: scale(1.03);
}

.card .card-img {
    display:block;
}

.card .series-name {
    display: block;
    height: 30px;
    font-family: var(--default-fonts);
    font-size: 16px;
    color: var(--color-light);
    line-height: 1;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-top: 2px;
    padding: 5px 0;
}

img.card-img {
    width: 100%;
    height: auto;
}


@media screen and (max-width: 1065px){

    .card {
        width: 32.4%;
    }
}

@media screen and (max-width: 952px){

    .card {
        width: 32.3%;
    }
}

@media screen and (max-width: 860px){

    .card {
        width: 32.2%;
    }
}

@media screen and (max-width: 783px){

    .card {
        width: 32.1%;
    }
}

@media screen and (max-width: 720px){

    .card {
        width: 31.5%;
    }
}


@media screen and (max-width: 599px){
    .card {
        width: 31.1%;
    }
    .card .series-name{
        font-size: 13px;
    }
}

@media screen and (max-width: 398px){
    .card {
        width: 47%;
    }
    .hero-content {
	padding: 30px 0;
}
}